body {
	width: 1000px;
	margin: auto;
}
.clearfix {
	clear: both;
	content: "";
	display: block;
}
.hide {
	display: none;
}
.col-4 {
	width: 33.33333333333%;
	float: left;
}

/*++++++++++++++++LAYOUT INDEX++++++++++++++++*/
.wrap_table {
	float: left;
	width: 62%;
	margin-right: 5%;
	padding: 1.5%;
	background-color: #ededff;
}
.wrap_online {
	float: left;
	width: 30%;
	background-color: #ededff;
	height: 300px;
	overflow-y: auto;
}
#tiktaktoe {
	float: left;
	width: 65%;
	margin-right: 3%;
	overflow: auto;
}
.user_game {
	float: left;
	width: 32%;
}
.user_game .user_item {
	border: 1px solid #8de;
	margin-bottom: 20px;
	border-radius: 8px;
}
.user_game .user_item .wrap_icon_name {
	position: relative;
}
.user_game .user_item .wrap_icon_name .icon {
	position: absolute;
	top: 20px; left: 20px;
}
.user_game .user_item .wrap_icon_name .name {
	margin-left: 50px;
	line-height: 70px;
	font-size: 24px;
}
.user_game .user_item .status {

}
.user_game {}

/*+++++++++++++++TABLE IN ROOM++++++++++++++++*/
.r_table {
	border: 1px solid #5abc97;
	height: 80px;
	margin: 12px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	position: relative;
}
.r_table {}
.r_table .ico {
	position: absolute;
	width: 36px; height: 36px;
	border-radius: 18px;
	background: #ddd;
	top: 20px;
	line-height: 36px;
	text-align: center;
}
.r_table .ico:hover {
	border: 1px solid #888;
	cursor: pointer;
}
.r_table .ico.ico_1 {
	left: 45px;
}
.r_table .ico.online {
	background: url(../images/icons/default_on.bmp);
}
.r_table .ico.offline {
	background: url(../images/icons/default_off.bmp);
}
.r_table .ico.ico_2 {
	position: absolute;
	right: 20px;
}
.r_table .mark {
	position: absolute;
	width: 30px; height: 30px;
	background-color: #65e;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	bottom: 0px; left: 0px;
}

/*++++++++++++++++TIK TOK GAME++++++++++++++++*/
.tiktok {}
.tiktok {}
.tiktok .wrap_tiktok {
	width: 960px;
}
.tiktok .tiktok_item {
	float: left;
	width: 30px; height: 30px;
	border: 1px solid #7dd;
	border-radius: 4px;
}
.tiktok .tiktok_item:hover {
	background-color: #5ad;
	cursor: pointer;
}
.tiktok .tiktok_item {}