html, head, body, footer, header, table, td, tr, th, thead, tbody, tfoot, div, p, b, i, span, label, form, input, textarea, legend,
fieldset {
	padding: 0;
	margin: 0;
}
body {
	width: 1000px;
	margin: auto;
}
.clearfix {
	clear: both;
	content: "";
	display: block;
}
.hide {
	display: none;
}
.col-4 {
	width: 33.33333333333%;
	float: left;
}

/*+++++++++++++++LAYOUT CONFIRM+++++++++++++++*/
body#confirm {
	height: 100vh;
}
body#confirm .wrap_confirm {
	height: 138px; width: 480px;
	border: 1px solid #79c6ce;
	padding: 20px;
	margin: 40px auto;
}
body#confirm .wrap_confirm #txt-name {
	width: 428px; height: 34px;
	padding: 12px 24px;
	margin-bottom: 16px;
}
body#confirm .wrap_confirm #btn-confirm {
	width: 480px; height: 60px;
}

/*++++++++++++++++LAYOUT INDEX++++++++++++++++*/
.wrap_table {
	float: left;
	width: 62%;
	margin-right: 5%;
	padding: 1.5%;
	background-color: #ededff;
}
.wrap_online {
	float: left;
	width: 30%; height: 300px;
	background-color: #ededff;
	overflow-y: auto;
	padding: 10px 0;
}
.wrap_online .online_item {
	padding: 5px 10px;
	margin: 0px 10px 6px 10px;
	background-color: #fff;
	color: #66a;
	border: 1px solid #99d;
}
.wrap_online {}
#tiktaktoe {
	float: left;
	width: 65%;
	margin-right: 3%;
	overflow: auto;
}
.user_game {
	float: left;
	width: 32%;
}
.user_game .user_item {
	border: 1px solid #8de;
	margin-bottom: 20px;
	border-radius: 8px;
}
.user_game .user_item .wrap_icon_name {
	position: relative;
}
.user_game .user_item .wrap_icon_name .icon {
	position: absolute;
	top: 20px; left: 20px;
}
.user_game .user_item .wrap_icon_name .name {
	margin-left: 50px;
	line-height: 70px;
	font-size: 24px;
}
.user_game .user_item .status {

}
.user_game {}
#ready {
	position: relative;
	height: 500px; width: 65%;
	float: left;
	margin-right: 3%;
	background-color: #eef;
}
#ready .wrap_ready_button {
	position: absolute;
	border: 1px solid #99d;
	width: 300px; height: 120px;
	left: 50%; top: 50%;
	margin-left: -150px;
	margin-top: -60px;
}
#ready .wrap_btn {
	width: 50%;
	position: relative;
	/*padding: 2%;*/
	float: left;
}
#ready .btn_play,
#ready .btn_quit {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 120px;
	text-align: center;
	cursor: pointer;
}
#ready .btn_play {
	background-color: #d9a;
}
#ready .btn_play.disable {
	background-color: #ddd;
	cursor: not-allowed;
}
#ready .btn_quit {
	background-color: #a9d;
}
#ready .btn_play:not(.disable):hover {
	background-color: #c89;
}
#ready .btn_quit:hover {
	background-color: #98c;
}

/*+++++++++++++++TABLE IN ROOM++++++++++++++++*/
.r_table {
	border: 1px solid #5abc97;
	height: 80px;
	margin: 12px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	position: relative;
}
.r_table {}
.r_table .ico {
	position: absolute;
	width: 36px; height: 36px;
	border-radius: 18px;
	background: #ddd;
	top: 20px;
	line-height: 36px;
	text-align: center;
}
.r_table .ico:hover {
	border: 1px solid #888;
	cursor: pointer;
}
.r_table .ico.ico_1 {
	left: 45px;
}
.r_table .ico.online {
	background: url(../images/icons/default_on.bmp);
}
.r_table .ico.offline {
	background: url(../images/icons/default_off.bmp);
}
.r_table .ico.ico_2 {
	position: absolute;
	right: 20px;
}
.r_table .mark {
	position: absolute;
	width: 30px; height: 30px;
	background-color: #65e;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	bottom: 0px; left: 0px;
}

/*++++++++++++++++TIK TOK GAME++++++++++++++++*/
.tiktok {}
.tiktok {}
.tiktok .wrap_tiktok {
	width: 960px;
}
.tiktok .tiktok_item {
	float: left;
	width: 30px; height: 30px;
	border: 1px solid #7dd;
	border-radius: 4px;
	background-position: 3px;
	background-repeat: no-repeat;
}
.tiktok .tiktok_item.mx {
	background-image: url(../images/icons/tiktok_x.png);
}
.tiktok .tiktok_item.mo {
	background-image: url(../images/icons/tiktok_o.png);
}
.tiktok .tiktok_item.x {
	cursor: url(../images/icons/tiktok_x.png) , auto;
}
.tiktok .tiktok_item.o {
	cursor: url(../images/icons/tiktok_o.png) , auto;
}
.tiktok .tiktok_item.just {
	background-color: #fee;
}
.tiktok .tiktok_item {}
